@model AssignmentOnProductsManagement.Models.Products 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="container">
        @using (Html.BeginForm("Create", "Product", "Post"))
        {
            <table class="table table-bordered">
                <tr>
                    <td>ID</td>
                    <td>@Html.TextBoxFor(m => m.Pid)</td>
                    <td>@Html.ValidationMessageFor(m => m.Pid)</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>@Html.TextBoxFor(m => m.Pname)</td>
                    <td>@Html.ValidationMessageFor(m => m.Pname)</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>@Html.TextBoxFor(m => m.Price)</td>
                    <td>@Html.ValidationMessageFor(m => m.Price)</td>
                </tr>
                <tr>
                    <td>Stock</td>
                    <td>@Html.TextBoxFor(m => m.Stock)</td>
                    <td>@Html.ValidationMessageFor(m => m.Stock)</td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" ,value="Add" /></td>

                </tr>
            </table>
        }
    </div>